grant codebase "file:/mnt/c/Users/Oliver Clark/Documents/McGill/semester7/comp512/Comp100000000Project/src/Server/" {
permission java.security.AllPermission;
};
